h1{
    font-family:oblique;
    color:blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a {
    display: inline-block;
    padding:30px;
    margin:30px;
    background-color:yellow;
    text-align: center;
}

body { 
    background-color:red;
}

p{ 
    color: red;
}


#grid-container{
   grid-template:500px 500px 500px/500px 500px 500px;
    display: grid;
    width: 1000;
    height: 1000;
}

.grid-item{
    width: 500px;
    height: 500px;
}
.column {
    float: left;
    width: 50%;
}

.broadway {
    float: right;
    color: red;
}